In [40]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
from sklearn import preprocessing

In [41]:
ds = pd.read_csv('url_features.csv')

In [42]:
print('The shape of our dataset is:', ds.shape)

The shape of our dataset is: (651191, 17)

In [43]:
ds.describe()

,Unnamed: 0,Unnamed: 0.1,url_length,Digits_to_char_ratio,Lcase_to_char_ratio,No_of_parameters,Url_entropy,Path_length,Host_length,No_of_fragments,No_of_Subdomains,sus_url,count-digits,count-letters
count,651191.000000,651191.000000,651191.000000,651191.000000,651191.000000,651191.000000,651191.000000,651191.000000,651191.000000,651191.000000,651191.000000,651191.000000,651191.000000,651191.000000
mean,325595.000000,325595.000000,60.156831,0.072662,0.747027,0.380497,-4.218435,41.153288,5.023088,0.000871,2.345403,0.066606,5.527409,45.247104
std,187982.793908,187982.793908,44.753902,0.101703,0.143224,1.224169,0.415609,29.770598,8.911953,0.032327,1.618860,0.249338,11.700814,31.624502
min,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,-7.504113,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,162797.500000,162797.500000,32.000000,0.000000,0.696970,0.000000,-4.495558,21.000000,0.000000,0.000000,1.000000,0.000000,0.000000,25.000000
50%,325595.000000,325595.000000,47.000000,0.032258,0.777778,0.000000,-4.227567,35.000000,0.000000,0.000000,2.000000,0.000000,2.000000,37.000000
75%,488392.500000,488392.500000,77.000000,0.107143,0.843137,0.000000,-3.958591,53.000000,11.000000,0.000000,3.000000,0.000000,7.000000,58.000000
max,651190.000000,651190.000000,2175.000000,0.800000,0.984368,50.000000,0.000000,2175.000000,236.000000,6.000000,39.000000,1.000000,1204.000000,2141.000000

In [44]:
ds.head()

,Unnamed: 0,Unnamed: 0.1,url,type,url_length,Digits_to_char_ratio,Lcase_to_char_ratio,No_of_parameters,Url_entropy,Has_http,Path_length,Host_length,No_of_fragments,No_of_Subdomains,sus_url,count-digits,count-letters
0,0,0,br-icloud.com.br,phishing,16,0.000000,0.812500,0,-3.375000,False,16,0,0,0,0,0,13
1,1,1,mp3raid.com/music/krizz_kaliko.html,benign,35,0.028571,0.828571,0,-4.079143,False,35,0,0,2,0,1,29
2,2,2,bopsecrets.org/rexroth/cr/1.htm,benign,31,0.032258,0.806452,0,-3.708093,False,31,0,0,3,0,1,25
3,3,3,http://www.garage-pirenne.be/index.php?option=...,defacement,88,0.079545,0.715909,3,-4.660343,True,10,21,0,1,0,7,63
4,4,4,http://adventure-nicaragua.net/index.php?optio...,defacement,235,0.093617,0.578723,2,-5.491293,True,10,23,0,1,0,22,199

In [45]:
header=["Number","No", "url","type","f1","f2","f3","f4","f5","f6","f7","f8","f9","f10","f11","f12", "f13"]
ds.columns=header
ds.drop(["Number","No","url"],axis=1,inplace=True)
ds.head()

,type,f1,f2,f3,f4,f5,f6,f7,f8,f9,f10,f11,f12,f13
0,phishing,16,0.000000,0.812500,0,-3.375000,False,16,0,0,0,0,0,13
1,benign,35,0.028571,0.828571,0,-4.079143,False,35,0,0,2,0,1,29
2,benign,31,0.032258,0.806452,0,-3.708093,False,31,0,0,3,0,1,25
3,defacement,88,0.079545,0.715909,3,-4.660343,True,10,21,0,1,0,7,63
4,defacement,235,0.093617,0.578723,2,-5.491293,True,10,23,0,1,0,22,199

In [46]:
enc= preprocessing.LabelEncoder()
ds["f1"]=enc.fit_transform(ds["f1"])
ds["f2"]=enc.fit_transform(ds["f2"])
ds["f3"]=enc.fit_transform(ds["f3"])
ds["f4"]=enc.fit_transform(ds["f4"])
ds["f5"]=enc.fit_transform(ds["f5"])
ds["f6"]=enc.fit_transform(ds["f6"])
ds["f7"]=enc.fit_transform(ds["f7"])
ds["f8"]=enc.fit_transform(ds["f8"])
ds["f9"]=enc.fit_transform(ds["f9"])
ds["f10"]=enc.fit_transform(ds["f10"])
ds["f11"]=enc.fit_transform(ds["f11"])
ds["f12"]=enc.fit_transform(ds["f12"])
ds["f13"]=enc.fit_transform(ds["f13"])
ds["type"]=enc.fit_transform(ds["type"])
ds.head()

   type   f1    f2    f3  f4      f5  f6  f7  f8  f9  f10  f11  f12  f13
0     3   14     0  9317   0  226761   0  16   0   0    0    0    0   13
1     0   33   444  9522   0  201331   0  35   0   0    2    0    1   29
2     0   29   510  9231   0  222932   0  31   0   0    3    0    1   25
3     1   86  1294  7900   3   60356   1  10  18   0    1    0    7   63
4     1  233  1544  5456   2    4015   1  10  20   0    1    0   22  199

In [47]:
X=ds[["f1","f2","f3","f4","f5","f6","f7","f8","f9","f10","f11","f12"]]
Y=ds["type"]

In [48]:
#Splitting the Dataset into Training and Test Dataset
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3, random_state=0)

In [50]:
#Import the Random Forest Regressor 
from sklearn.ensemble import RandomForestRegressor   
  
RFReg = RandomForestRegressor(n_estimators = 500, random_state = 0)
  
#Fitting the random forest regressor with training data represented by X_train and y_train
RFReg.fit(X_train, Y_train)

RandomForestRegressor(n_estimators=500, random_state=0)

In [ ]:
Y_predict_rfr = RFReg.predict((X_test))

#Model Evaluation for Random Forest Regression
from sklearn import metrics
accuracy = metrics.accuracy_score(Y_test,Y_predict_rfr)
accuracy

In [ ]:
X_val = np.arange(min(X_train), max(X_train), 0.01) 
X_val = X_val.reshape((len(X_val), 1))  
  
#Defining a scatter plot for training data 
plt.scatter(X_train, Y_train, color = 'blue') 
  
#Plotting the predicted data 
plt.plot(X_val, RFReg.predict(X_val), color = 'red')  
  
#Set the size of the plot for better clarity
plt.figure(figsize=(1,1))
  
#Draw the plot 
plt.show()

In [ ]:
import pickle
filename = 'finalized_model.bin'
pickle.dump(RFReg , open(filename, 'wb'))